@import url(./color.css);

body{
    font-family: 'Varela Round', sans-serif;
    min-height: 100vh;
    margin: 0;
    background:url(../images/Coffee.png),
               url(../images/background.png) ;
}

nav,
.tab,
#content,
.main,
.homeCard{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-wrap: nowrap;
    background-color: var(--black-color);
}

header > p{
    color: var(--white-color);
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    margin-left: 44px;
    margin-bottom: 16px;
}

h1{
    color: var(--secondary-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 16px;
    margin-left: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 17rem;
    cursor: pointer;
}


ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6rem;
}

.tab{
    font-size: 20px;
    cursor: pointer;
    border-style: none;
    color: var(--secondary-color);
    position: relative;
}

.tab::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--light-brown);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.tab:hover::before{
    transform-origin: left;;
    transform: scaleX(1);
}

#content{
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.main{
    flex-direction: column;
    gap: 60px;
    height: 60rem;
    width: 46rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    margin-top: 2rem;
}

.homeCard{
    background-color: var(--light-brown);
    height: 12rem;
    width: 24rem;
    border-radius: 16px;
}

footer{
    font-size: 24px;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
}