@import url(./color.css);

body{
    font-family: 'Rethink Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    background:url(../images/Coffee.png),
               url(../images/background.png) ;
}

nav,
.tab,
#content,
main,
article{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

header{
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-wrap: nowrap;
    background: linear-gradient(to bottom, rgba(0, 0, 0) 60%, rgba(0, 0, 0, 0))
}

header > p{
    color: var(--white-color);
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    margin-left: 44px;
    margin-bottom: 16px;
}

h2{
    color: var(--secondary-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 16px;
    margin-left: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 17rem;
    cursor: pointer;
}

.subText1{
    font-size: 24px;
}

.subText2{
    font-size: 16px;
}


ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6rem;
}

.tab{
    font-size: 20px;
    cursor: pointer;
    border-style: none;
    color: var(--secondary-color);
    position: relative;
}

.tab::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--light-brown);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.tab:hover::before{
    transform-origin: left;;
    transform: scaleX(1);
}

.tab.active::before {
    transform-origin: left;
    transform: scaleX(1);
}

main{
    flex-direction: column;
    height: 100%;
    width: 100%;
}

article{
    flex-direction: column;
  
    width: 80%;
}

.mainText{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(var(--white-color) -20%, #CA965C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subText1{
    font-weight: 500;
    font-size: 32px;
    background: linear-gradient(to right,var(--white-color)25%, #87805E 65%);
    text-wrap: nowrap;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 20rem;
    height: 8rem;
 
}

.articleButton{
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
    height: 2.5rem;
    width: 8rem;
    color: var(--white-color);
    background: #87805E;
    transition: transform .2s; 
    cursor: pointer;
}

.articleButton:hover{
    transform: scale(1.08);
    box-shadow:
    0 0 0.5rem #CA965C,
    inset 0 0 0 #CA965C;
}

.subText2{
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    background: linear-gradient(to top,var(--white-color) , #C8AE7D 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

footer{
    width: 100%;
    height: 6rem;
    background: linear-gradient(to top, rgba(0, 0, 0) , rgba(0, 0, 0, 0));
}