@import url(./color.css);

.menuDiv{
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 30px repeat(2,1fr) 40px repeat(2,1fr);
    align-items: center;
    justify-items: center;
}

.hotDrink,
.coldDrink{
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #EAC696;
    font-style: italic;
    width: 100%;
}

.hotDrink{
    grid-area: 1/1/2/4;
    background: linear-gradient(to right, transparent 0%, transparent 30%, #9A3B3B 50%, transparent 70%, transparent 100%);
}

.coldDrink{
    grid-area: 4/1/5/4;
    background: linear-gradient(to right, transparent 0%, transparent 30%, #4B6587 50%, transparent 70%, transparent 100%);
}

.menuItem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 80%;
    width: 80%;
    color: var(--light-brown);
    border-bottom: 1px solid var(--white-color);
}

.itemName{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.itemDescription{
    margin: 0;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

.itemPrice{
    margin: 0;
    font-weight: 600;
}